
html {
	font-family: "Overpass", sans-serif;
	background-color: #f7fcf8;
	font-size: 10px;
}

h1,
h2 {
	font-size: 35px;
	display: inline-block;
	color: #143642;
	font-family: "Rubik", sans-serif;
	letter-spacing: ;
}

h2::before {
	display: block;
	content: "";
	width: 100%;
	height: 2.5px;
	background-color: #3F6C51;
	margin-bottom: 10px;
}

p, 
b {
	font-size: 1.6rem;
	line-height: 1.5;
	color: #143642;
}

a {
	text-decoration: none;
}

form {
	font-size: 1.2rem;
}


ul {
	margin: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

video {
	max-width: 100%;
}



/*---------------------
	  HEADER
-----------------------*/



header {
	position: fixed;
	z-index: 999;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 10vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
}

header p {
	color: white;
}

/*LOGO*/

.header__logo {
	padding: 1%;
	max-height: 100%;
}

.header__logo img {
	max-height: 100%;
}


.header__contacto {
	display: none;
}

.header__menu ul { 
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 300ms ease-in-out;
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: end;
	width: 100%;
	top: 100%;
	right: 0%;
	background-color: rgba(0, 0, 0, 0.4);

}

.nav-toggle:checked ~ .header__menu ul {
	display: flex;
	transform: scale(1,1);
}

.header__menu li {
	margin-block: 1.6rem;
	margin-right: 15px;
	font-size: 27px;
	font-weight: 200;
	font-family: "Rubik",sans-serif;
}

.header__menu a {
	color: #f7fcf8;
	text-shadow: 2px 2px 2px #555555;
}

/*Menu hamburguesa*/

.nav-toggle { /*Eliminamos el checkbox*/
	display: none;
}

.nav-toggle-label { /*Ubicamos el label*/
	position: absolute;
	right: 18px;
	height: 100%;
	display: flex;
	align-items: center;	
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 3.5rem;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 12px;
}

.nav-toggle-label span::after {
	top: 12px;
}




/*-----------------------
	   FOOTER
-------------------------*/



footer {
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
	padding-inline: 5%;
	margin-top: 4%;
	background-color: #81D8D0;
}

.footer__logo {
	height: 80%;
}

.footer__logo img {
	max-height: 100%;
}

.footer__contenedor {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.footer__redes .img__redes {
	max-width: 2.3rem;
	margin-inline: 4px;
}

.footer__contacto .img__phone {
	margin-left: 4%;
	margin-right: 1%;
	max-width: 0.7em;
}

.footer__contenedor p, b {
	display: inline;
	font-size: 14px;
}

.footer__direccion {
	display: none;
}

.footer__telefono {
	display: none;
}



/*--------------------
	  INDEX
----------------------*/



.portada {
	position: relative;
	top: 0;
	left: 0;
}
.portada img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 50vh;
	object-fit: cover;
	filter: brightness(70%);
}

.portada__logo {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 998;
	max-width: 50%;
}


.portada__logo img {
	object-fit: contain;
	opacity: 80%;
	height: auto;
}



.bienvenida {
	padding-block: 5%;
	padding-inline: 5%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}


.bienvenida__texto span {
	font-size: 4.6rem;
	color: #0abab5;
	
}

.bienvenida__imagen img {
	box-shadow: 8px 8px 5px gray;
	border-radius: 7px;
}




.video video {
	width: 100%;
	height: 500px;
	object-fit: cover;
	margin-bottom: 30px;
}




.opiniones {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	justify-items: center;
}

.opiniones h2 {
	justify-self: start;
	padding-inline: 5%;
}

.opiniones h2 span {
	color: #0abab5;	
}


.opiniones__recuadro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-inline: 10px;
	padding: 7%;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 8px 8px 5px gray;
	border-radius: 3%;
	max-width: 80%;
}

.nombre {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

.vehiculo {
	font-size: 12px;
	margin: 0;
}


/*----------------------
       SERVICIOS        
------------------------*/


.contenedor__servicios {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	max-width: 95%;
	margin-inline: auto;
}

.servicios {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	padding-bottom: 50px;
}

.servicios img {
	box-shadow: 8px 8px 5px gray;
	border-radius: 7px;
}

.servicios:first-child {
	margin-top: 15vh;
}


.servicios .texto {
	max-width: 70%;
}

.servicios .imagen {
	max-width: 90%;
}



/*----------------------
       PORTFOLIO        
------------------------*/


.contenedor-portfolios:first-child {
	padding-top: 12vh;
}

.contenedor-portfolios {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	justify-items: center;
}

.portfolios {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	/*justify-items: center;*/
	max-width: 90%;
	margin-bottom: 20px;
}

.portfolios h2 {
	justify-self: start;
}

.portfolio__galeria img {
	transition: all 0.3s;
	margin-bottom: 20px;
	border-radius: 7px;
}

.portfolio__galeria img:hover {
	transform: scale(1.5);
}


/*----------------------
       CLIENTES        
------------------------*/

.clientes {
	max-width: 90%;
	margin-inline: auto;
}

.clientes:first-child {
	padding-top: 13vh;
}

.clientes__logos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 200px 200px;
	max-width: 1000px;
	justify-items: center;
	align-items: center;
	gap: 10px;
	margin-inline: auto;
}

.clientes__logos img {
	max-height: 80%;
}


/*----------------------
       CONTACTO        
------------------------*/

.contacto__infoForm {
	padding-top: 13vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	max-width: 90%;
	margin-inline: auto;
}

.contacto__infoForm h2 {
	justify-self: start;
}

.contacto__infoForm p {
	max-width: 450px;
	padding-right: 20px;
	margin-top: 0;
	margin-bottom: 40px;
}

.info { 
	margin-bottom: 15px;
	display: flex; 
	align-items: center;
}

.info img {
	margin-right: 10px;
}

.contacto__form {
	display: grid;
	grid-template-rows: repeat(9, 5vh);
	grid-template-columns: repeat(13, 1fr);
	border: 3px solid #3F6C51;
	border-radius: 7px;
	max-width: 400px;
	margin-inline: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}


.contacto__form input {
	max-width: 100%;
}

.contacto__form .email {
	grid-column: 2 / 7;
	grid-row: 2 / 3;
	border-radius: 7px;
}

.contacto__form .phone {
	grid-column: 8 / 13;
	grid-row: 2 / 3;
	border-radius: 7px;
}

.contacto__form .comentarios {
	grid-column: 2 / 13;
	grid-row: 4 / 7;
	border-radius: 7px;
}

.contacto__form .boton {
	grid-column: 2 / 13;
	grid-row: 8 / 9;
	color: #3F6C51;
	font-weight: bold;
	background-color: #fafafa;
	border-radius: 7px;
}














