@mixin content-spacing-mobile {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@mixin content-spacing-desktop {
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

@keyframes fadeInFull {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeInPartial {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
     }
}


html {
	font-family: "Overpass", sans-serif;
	background-color: $color-background;
	font-size: 10px;

    body {
        min-height: 100vh;
        position: relative;
    
        main {
            animation: fadeInPartial ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            padding-bottom: 10rem;
        }
    }

    h1 {
        font-size: 3rem;
        display: inline-block;
        color: $color-text;
        font-family: "Rubik", sans-serif;
    }
    
    h2 {
        @extend h1;
        &::before {
            display: block;
            content: "";
            width: 100%;
            height: 2.5px;
            background-color: $color-primary;
            margin-bottom: 10px;
        }
    }
    
    p,  
    b {
        font-size: 1.6rem;
        line-height: 1.5;
        color: $color-text;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        margin: 0;
    }
    
    li {
        list-style: none;
    }
    
    img {
        max-width: 100%;
    }
    
    video {
        max-width: 100%;
    }
}

