
// $color-primary: #81D8D0;
$color-primary: #79AEA3;    
$color-primary-strong: #0abab5;
$color-text: #143642;
$color-background: #f7fcf8;

$breakpoints: (
    sm:576px,
    md:768px,
    lg:1280px
);